@mixin position($position, $top, $left) {
	position: $position;
	top: $top;
	left: $left;
}

@mixin position-bottom($position, $bottom, $left) {
	position: $position;
	bottom: $bottom;
	left: $left;
}

@mixin size($width, $height) {
	width: $width;
	height: $height;
}

@mixin font($font-size, $text-align, $margin) {
	font-size: $font-size;
	text-align: $text-align;
	margin: $margin;
}

html {
    height: 100%;
}

body {
    position: relative;
    max-width: 1440px;
    min-height: 100%;
    margin: 0 auto;
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    color: #333333;
    header {
        width: 100%;
        img {
            padding: 20px 0px 20px 20px;
            float: left;
        }
        a {
            float: right;
            color: #ffffff;
            background: #7c88ce;
            border-radius: 10px;
            margin: 40px 20px 20px 0px;
            padding: 5px 7px;
            text-decoration: none;
            &:hover {
                color: #7c88ce;
                background: #ffffff;
            }
        }
        p {
        	@include font(36px, center, 40px 0px 30px 15%);
            display: inline-block;
            font-weight: bold;
            font-family: 'Indie Flower', cursive;
            @media screen and (max-width: 1150px) {
                font-size: 18px;
                margin-bottom:55px;
            }
            @media screen and (max-width: 790px) {
                display: none;
            }
        }
        hr {
            @media screen and (max-width: 790px) {
                display: none;
            }
        }

    }
    .clearfix:after {
        content: "";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
    nav {
        position: fixed;
        top: 150px;
        display: inline-block;
        width: 200px;
        text-align: left;
        z-index: 5;
        ul {
            padding:0px;
            margin-left: -39px;
            li {
                &:hover > ul{display: block;}
                .navig {
                    transform: rotate(-90deg);
                    outline: none;
                }
                ul {
                    display: none;
                    background: #fff;
                    position: absolute; 
                    top: -40px;
                    left: 70px;
                    box-shadow: -3px 3px 10px -2px rgba(0,0,0,.3);
                    border: 1px solid rgba(0,0,0,.6);
                    li {
                        text-align: center;
                    }
                }
            }
        }
        button, a {
        	@include font(20px, center, 10px auto 20px);
            display: inline-block;
            background: #ffffff;
            color: #333333;
            border-radius: 5px;
            width: 105px;
            border: 1px solid grey;
            &:hover {
                background: #f3f3f3;
            }
        }
        a {
            text-decoration: none;
        }
        label {
            font-size: 20px;
            font-weight: bold;
        }
        select {
            margin-top: 10px;
        }
        .cancelfilter {
            width: 150px;
        }
        .filtertag {
        	@include size(200px, 80px);
        }
        .startdate {
            margin-top: 10px;
        }
    }
    article {
        &:after {
            content: "";
            display: block;
            clear:  both;
        }
        @media screen and (max-width: 1070px) {
                padding-bottom: 230px;
            }
        @media screen and (max-width: 530px) {
            padding-bottom: 330px;
        }
        position: relative;
        z-index: 1;
        margin: 0 auto;
        width: 98%;
        text-align: center;
        padding-bottom: 140px;
        li {
        	@include size(30%, 400px);
            position: relative;
            display: inline-block;
            margin: 10px 15px;
            vertical-align: top;
            box-sizing: border-box;
            background: #f3f3f3;
            overflow: hidden;
            @media screen and (max-width: 1056px) {
                @include size(45%, 400px);
            }
            @media screen and (max-width: 725px) {
                @include size(95%, 400px);
            }
            &:hover {
                box-shadow: 0px 0px 3px;
            }
            div {
                overflow: hidden;
                height: 200px;
                img {
                	@include size(100%, 200px);
                    filter: grayscale(20%);
                    transition: all 1s linear;
                    &:hover {
                        transform: scale(1.2, 1.2);
                        filter: brightness(120%);
                    }
                }
            }
            h2 {
            	@include font(18px, left, 0px);
                padding: 5px 0px 5px 0px;
            }
            p {
            	@include font(14px, left, 0px 0px 25px);
            }
            .ed {
                left: 60px !important;
            }
            .del {
                left: 105px !important;
                background: #f3f3f3;
                border: none;
            }
            .readnew, .ed, .del, .datearticle, .settags, .authorclass {
                display: inline-block;
                @include position(absolute, 370px, 0px);
                text-decoration: none;
                color: #333333;
                font-size: 18px;
                &:hover {
                    text-decoration: underline;
                }
            }
            .datearticle {
            	@include position(absolute, 374px, 190px);
                font-size: 14px;
                font-style: italic;
            }
            .settags {
            	@include position(absolute, 350px, 0px);
                font-size: 14px;
                font-style: italic;
            }
            .authorclass {
            	@include position(absolute, 330px, 0px);
                font-size: 14px;
                font-style: italic;
            }
            .edit, .delete {
                display: none;
            }
        }
        .pagination {
            display: inline-block;
            margin: 0 auto;
            color: #ffffff;
            background: #7c88ce;
            border-radius: 10px;
            width: 200px;
            margin-bottom: 10px;
            outline: none;
        }
        .pagination-view {
            display: none;
        }
    }
    .modalDialog {
        @include position(fixed, 0px, 0px);
        right: 0;
        bottom: 0;
        overflow: auto;
        background: rgba(0, 0, 0, 0.7);
        z-index: 99999;
        transition: opacity 400ms ease-in;
        display: none;
        width: 100%;
        min-width: 320px;
        pointer-events: none;
        &:target {
            display: block;
            pointer-events: auto;
        }
        div {
            .close {
                float: right;
                font-size: 21px;
                font-weight: 700;
                line-height: 1;
                color: #000;
                text-shadow: 0 1px 0 #fff;
                filter: alpha(opacity=20);
                opacity: .2;
                &:hover {
                    text-decoration: none;
                }
            }
            .imageform {
            	@include position(absolute, 620px, 260px);
            }
            .pwd {
            	@include position(absolute, 120px, 110px);
            }
            .loginfield {
            	@include position(absolute, 59px, 46px);
            }
            .inppwd {
            	@include position(absolute, 160px, 46px);
            }
            .signoutbutton {
            	@include position(absolute, 230px, 170px);
            }
            .signbutton {
            	@include position(absolute, 230px, 80px);
            }
            .insertid {
            	@include position(absolute, 35px, 100px);
            }
            .newid, .editid {
            	@include position(absolute, 60px, 100px);
            }
            .inserttitle {
            	@include position(absolute, 95px, 100px);
            }
            .newtitle, .edittitle {
            	@include position(absolute, 120px, 100px);
                width: 400px;
            }
            .newsummary, .editsummary {
            	@include position(absolute, 185px, 100px);
                width: 400px;
            }
            .insertcontent {
            	@include position(absolute, 224px, 100px);
            }
            .newcontent, .editcontent {
            	@include position(absolute, 260px, 100px);
            	@include size(400px, 240px);
            }
            .inserttags {
            	@include position(absolute, 530px, 60px);
            }
            .selecttags {
            	@include position(absolute, 570px, 28px);
            	@include size(190px, 200px);
            }
            .newbutton, .editbutton {
            	@include position(absolute, 790px, 258px);
            }
        }
        .tag-box {
        	@include size(300px, 180px);
            position: relative;
            margin: 13% auto;
            padding: 5px 20px 13px 20px;
            border-radius: 10px;
            background: #fff;
            .tagtext {
            	@include position(absolute, 20px, 117px);
                font-size: 24px;
                font-weight: bold;
            }
            .tagfield {
            	@include position(absolute, 59px, 46px);
            }
            .tagbutton {
            	@include position(absolute, 127px, 126px);
            }
        }
        .new-box {
        	@include size(600px, 820px);
            position: relative;
            margin: 1% auto;
            padding: 5px 20px 13px 20px;
            border-radius: 10px;
            background: #fff;
            div {
                p {
                	@include font(24px, center, 0);
                    font-weight: bold;
                }
            }
            .insertsummary {
            	@include position(absolute, 155px, 100px);
            }
            .tagsvalue {
            	@include position(absolute, 523px, 199px);
            }
            .insertid {
            	@include position(absolute, 35px, 100px);
            }
        }
        .readnew-box {
        	@include size(700px, 720px);
            position: relative;
            margin: 1% auto;
            padding: 5px 20px 13px 20px;
            border-radius: 10px;
            background: #fff;
            .readtitle {
                margin: 10px 0;
            }
            .readimage {
                margin-left: 65px;
            }
            .newtitle {
            	@include position(absolute, 0px, 40px);
            }
            .newcontent {
            	@include position(absolute, 80px, 15px);
            }
            .newauthor {
            	@include position-bottom(absolute, 38px, 15px);
                font-style: italic;
            }
            .newdate {
            	@include position-bottom(absolute, 10px, 15px);
            }
            .newtags {
            	@include position-bottom(absolute, 65px, 15px);
                font-style: italic;
            }
        }
    }
    footer {
    	@include position-bottom(absolute, 0, 0);
        right: 0;
        div {
            margin-left: 20px;
            padding-top: 0px;
            width: 320px;
            display: inline-block;
        }
        span {
            padding-left: 20px;
        }
        .icons {
            width: 200px;
            margin-right: 20px;
            float: right;
            a {
                .fa {
                    font-size: 40px;
                    color: #7c88ce;
                    padding: 10px 5px 10px 0px;
                    transition: all 1s linear;
                    &:hover {
                        color: #555555;
                        transform: rotateZ(359deg);
                    }
                }
            }
        }
    }
}
