/* line 24, ../sass/screen.scss */
html {
  height: 100%;
}

/* line 28, ../sass/screen.scss */
li .link {
  text-decoration: none;
  cursor: pointer;
}

/* line 32, ../sass/screen.scss */
body {
  position: relative;
  max-width: 1440px;
  min-height: 100%;
  margin: 0 auto;
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #333333;
}
/* line 40, ../sass/screen.scss */
body header {
  width: 100%;
}
/* line 42, ../sass/screen.scss */
body header img {
  padding: 20px 0px 20px 20px;
  float: left;
}
/* line 46, ../sass/screen.scss */
body header a {
  float: right;
  color: #ffffff;
  background: #7c88ce;
  border-radius: 10px;
  margin: 40px 20px 20px 0px;
  padding: 5px 7px;
  text-decoration: none;
}
/* line 54, ../sass/screen.scss */
body header a:hover {
  color: #7c88ce;
  background: #ffffff;
}
/* line 59, ../sass/screen.scss */
body header p {
  font-size: 36px;
  text-align: center;
  margin: 40px 0px 30px 15%;
  display: inline-block;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
}
@media screen and (max-width: 1150px) {
  /* line 59, ../sass/screen.scss */
  body header p {
    font-size: 18px;
    margin-bottom: 55px;
  }
}
@media screen and (max-width: 790px) {
  /* line 59, ../sass/screen.scss */
  body header p {
    display: none;
  }
}
@media screen and (max-width: 790px) {
  /* line 72, ../sass/screen.scss */
  body header hr {
    display: none;
  }
}
/* line 79, ../sass/screen.scss */
body .clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
/* line 86, ../sass/screen.scss */
body nav {
  position: fixed;
  top: 110px;
  left: 40px;
  display: inline-block;
  width: 28px;
  text-align: left;
  z-index: 5;
}
/* line 94, ../sass/screen.scss */
body nav ul {
  transition: 1s all linear;
  padding: 0px;
  margin-left: -39px;
}
/* line 99, ../sass/screen.scss */
body nav ul li:hover > ul {
  transform: translateX(-70px);
}
/* line 102, ../sass/screen.scss */
body nav ul li .navig {
  outline: none;
}
/* line 105, ../sass/screen.scss */
body nav ul li ul {
  transform: translateX(-280px);
  background: #fff;
  position: absolute;
  top: 40px;
  left: 70px;
  box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.6);
}
/* line 113, ../sass/screen.scss */
body nav ul li ul li {
  text-align: center;
}
/* line 116, ../sass/screen.scss */
body nav ul li ul li div a {
  width: 105px;
}
/* line 124, ../sass/screen.scss */
body nav button, body nav a {
  font-size: 20px;
  text-align: center;
  margin: 10px auto 20px;
  display: inline-block;
  background: #ffffff;
  color: #333333;
  border-radius: 5px;
  width: 105px;
  border: 1px solid grey;
}
/* line 132, ../sass/screen.scss */
body nav button:hover, body nav a:hover {
  background: #f3f3f3;
}
/* line 136, ../sass/screen.scss */
body nav a {
  width: 55px;
  text-decoration: none;
}
/* line 140, ../sass/screen.scss */
body nav label {
  font-size: 20px;
  font-weight: bold;
}
/* line 144, ../sass/screen.scss */
body nav select {
  margin-top: 10px;
  width: 90%;
}
/* line 148, ../sass/screen.scss */
body nav .cancelfilter {
  width: 150px;
}
/* line 151, ../sass/screen.scss */
body nav .filtertag {
  width: 200px;
  height: 80px;
}
/* line 154, ../sass/screen.scss */
body nav .startdate {
  margin-top: 10px;
}
/* line 158, ../sass/screen.scss */
body article {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 98%;
  text-align: center;
  padding-bottom: 140px;
}
/* line 159, ../sass/screen.scss */
body article:after {
  content: "";
  display: block;
  clear: both;
}
@media screen and (max-width: 1070px) {
  /* line 158, ../sass/screen.scss */
  body article {
    padding-bottom: 230px;
  }
}
@media screen and (max-width: 530px) {
  /* line 158, ../sass/screen.scss */
  body article {
    padding-bottom: 330px;
  }
}
/* line 176, ../sass/screen.scss */
body article li {
  width: 30%;
  height: 400px;
  position: relative;
  display: inline-block;
  margin: 10px 15px;
  vertical-align: top;
  box-sizing: border-box;
  background: #f3f3f3;
  overflow: hidden;
}
@media screen and (max-width: 1056px) {
  /* line 176, ../sass/screen.scss */
  body article li {
    width: 45%;
    height: 400px;
  }
}
@media screen and (max-width: 725px) {
  /* line 176, ../sass/screen.scss */
  body article li {
    width: 95%;
    height: 400px;
  }
}
/* line 191, ../sass/screen.scss */
body article li:hover {
  box-shadow: 0px 0px 3px;
}
/* line 194, ../sass/screen.scss */
body article li div {
  overflow: hidden;
  height: 200px;
}
/* line 197, ../sass/screen.scss */
body article li div img {
  width: 100%;
  height: 200px;
  filter: grayscale(20%);
  transition: all 1s linear;
}
/* line 201, ../sass/screen.scss */
body article li div img:hover {
  transform: scale(1.2, 1.2);
  filter: brightness(120%);
}
/* line 207, ../sass/screen.scss */
body article li h2 {
  font-size: 18px;
  text-align: left;
  margin: 0px;
  padding: 5px 0px 5px 0px;
  color: #000;
}
/* line 212, ../sass/screen.scss */
body article li p {
  font-size: 14px;
  text-align: left;
  margin: 0px 0px 25px;
  color: #333333;
}
/* line 216, ../sass/screen.scss */
body article li .ed {
  left: 60px !important;
}
/* line 219, ../sass/screen.scss */
body article li .del {
  left: 105px !important;
  background: #f3f3f3;
  border: none;
}
/* line 224, ../sass/screen.scss */
body article li .readnew, body article li .ed, body article li .del {
  display: inline-block;
  position: absolute;
  top: 370px;
  left: 0px;
  text-decoration: none;
  color: #333333;
  font-size: 18px;
}
/* line 230, ../sass/screen.scss */
body article li .readnew:hover, body article li .ed:hover, body article li .del:hover {
  text-decoration: underline;
}
/* line 234, ../sass/screen.scss */
body article li .datearticle, body article li .settags, body article li .authorclass {
  display: inline-block;
  position: absolute;
  top: 370px;
  left: 0px;
  text-decoration: none;
  color: #333333;
  font-size: 18px;
}
/* line 241, ../sass/screen.scss */
body article li .datearticle {
  position: absolute;
  top: 374px;
  left: 190px;
  font-size: 14px;
  font-style: italic;
}
/* line 246, ../sass/screen.scss */
body article li .settags {
  position: absolute;
  top: 350px;
  left: 0px;
  font-size: 14px;
  font-style: italic;
}
/* line 251, ../sass/screen.scss */
body article li .authorclass {
  position: absolute;
  top: 330px;
  left: 0px;
  font-size: 14px;
  font-style: italic;
}
/* line 256, ../sass/screen.scss */
body article li .edit, body article li .delete {
  display: none;
}
/* line 260, ../sass/screen.scss */
body article .pagination {
  display: inline-block;
  margin: 0 auto;
  color: #ffffff;
  background: #7c88ce;
  border-radius: 10px;
  width: 200px;
  margin-bottom: 10px;
  outline: none;
}
/* line 270, ../sass/screen.scss */
body article .pagination-view {
  display: none;
}
/* line 274, ../sass/screen.scss */
body .modalDialog {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
  transition: opacity 400ms ease-in;
  display: none;
  width: 100%;
  min-width: 320px;
  pointer-events: none;
}
/* line 286, ../sass/screen.scss */
body .modalDialog:target {
  display: block;
  pointer-events: auto;
}
/* line 291, ../sass/screen.scss */
body .modalDialog div .close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
/* line 300, ../sass/screen.scss */
body .modalDialog div .close:hover {
  text-decoration: none;
}
/* line 304, ../sass/screen.scss */
body .modalDialog div .imageform {
  position: absolute;
  top: 620px;
  left: 300px;
}
/* line 307, ../sass/screen.scss */
body .modalDialog div .pwd {
  position: absolute;
  top: 120px;
  left: 110px;
}
/* line 310, ../sass/screen.scss */
body .modalDialog div .loginfield {
  position: absolute;
  top: 59px;
  left: 46px;
}
/* line 313, ../sass/screen.scss */
body .modalDialog div .inppwd {
  position: absolute;
  top: 160px;
  left: 46px;
}
/* line 316, ../sass/screen.scss */
body .modalDialog div .signoutbutton {
  position: absolute;
  top: 230px;
  left: 170px;
}
/* line 319, ../sass/screen.scss */
body .modalDialog div .signbutton {
  position: absolute;
  top: 230px;
  left: 80px;
}
/* line 322, ../sass/screen.scss */
body .modalDialog div .insertid {
  position: absolute;
  top: 35px;
  left: 100px;
}
/* line 325, ../sass/screen.scss */
body .modalDialog div .newid, body .modalDialog div .editid {
  position: absolute;
  top: 60px;
  left: 100px;
}
/* line 328, ../sass/screen.scss */
body .modalDialog div .inserttitle {
  position: absolute;
  top: 95px;
  left: 100px;
}
/* line 331, ../sass/screen.scss */
body .modalDialog div .newtitle, body .modalDialog div .edittitle {
  position: absolute;
  top: 120px;
  left: 100px;
  width: 400px;
}
/* line 335, ../sass/screen.scss */
body .modalDialog div .newsummary, body .modalDialog div .editsummary {
  position: absolute;
  top: 185px;
  left: 100px;
  width: 400px;
}
/* line 339, ../sass/screen.scss */
body .modalDialog div .insertcontent {
  position: absolute;
  top: 224px;
  left: 100px;
}
/* line 342, ../sass/screen.scss */
body .modalDialog div .newcontent, body .modalDialog div .editcontent {
  position: absolute;
  top: 260px;
  left: 100px;
  width: 400px;
  height: 240px;
}
/* line 346, ../sass/screen.scss */
body .modalDialog div .inserttags {
  position: absolute;
  top: 530px;
  left: 100px;
}
/* line 349, ../sass/screen.scss */
body .modalDialog div .selecttags {
  position: absolute;
  top: 570px;
  left: 100px;
  width: 190px;
  height: 200px;
}
/* line 353, ../sass/screen.scss */
body .modalDialog div .newbutton, body .modalDialog div .editbutton {
  position: absolute;
  top: 790px;
  left: 275px;
}
/* line 357, ../sass/screen.scss */
body .modalDialog .tag-box {
  width: 300px;
  height: 180px;
  position: relative;
  margin: 13% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
}
/* line 364, ../sass/screen.scss */
body .modalDialog .tag-box .tagtext {
  position: absolute;
  top: 20px;
  left: 137px;
  font-size: 24px;
  font-weight: bold;
}
/* line 369, ../sass/screen.scss */
body .modalDialog .tag-box .tagfield {
  position: absolute;
  top: 59px;
  left: 46px;
}
/* line 372, ../sass/screen.scss */
body .modalDialog .tag-box .tagbutton {
  position: absolute;
  top: 127px;
  left: 126px;
}
/* line 376, ../sass/screen.scss */
body .modalDialog .new-box {
  width: 600px;
  height: 820px;
  position: relative;
  margin: 1% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
}
/* line 384, ../sass/screen.scss */
body .modalDialog .new-box div p {
  font-size: 24px;
  text-align: center;
  margin: 0;
  font-weight: bold;
}
/* line 389, ../sass/screen.scss */
body .modalDialog .new-box .insertsummary {
  position: absolute;
  top: 155px;
  left: 100px;
}
/* line 392, ../sass/screen.scss */
body .modalDialog .new-box .tagsvalue {
  position: absolute;
  top: 523px;
  left: 199px;
}
/* line 395, ../sass/screen.scss */
body .modalDialog .new-box .insertid {
  position: absolute;
  top: 35px;
  left: 100px;
}
/* line 399, ../sass/screen.scss */
body .modalDialog .readnew-box {
  width: 700px;
  height: 720px;
  position: relative;
  margin: 1% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
}
/* line 406, ../sass/screen.scss */
body .modalDialog .readnew-box .readtitle {
  margin: 10px 0;
}
/* line 409, ../sass/screen.scss */
body .modalDialog .readnew-box .readimage {
  margin-left: 65px;
}
/* line 412, ../sass/screen.scss */
body .modalDialog .readnew-box .newtitle {
  position: absolute;
  top: 0px;
  left: 40px;
}
/* line 415, ../sass/screen.scss */
body .modalDialog .readnew-box .newcontent {
  position: absolute;
  top: 80px;
  left: 15px;
}
/* line 418, ../sass/screen.scss */
body .modalDialog .readnew-box .newauthor {
  position: absolute;
  bottom: 38px;
  left: 15px;
  font-style: italic;
}
/* line 422, ../sass/screen.scss */
body .modalDialog .readnew-box .newdate {
  position: absolute;
  bottom: 10px;
  left: 15px;
}
/* line 425, ../sass/screen.scss */
body .modalDialog .readnew-box .newtags {
  position: absolute;
  bottom: 65px;
  left: 15px;
  font-style: italic;
}
/* line 431, ../sass/screen.scss */
body footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
/* line 435, ../sass/screen.scss */
body footer div {
  margin-left: 20px;
  padding-top: 0px;
  width: 320px;
  display: inline-block;
}
/* line 441, ../sass/screen.scss */
body footer div p a {
  text-decoration: none;
  color: #7c88ce;
}
/* line 444, ../sass/screen.scss */
body footer div p a:hover {
  text-decoration: underline;
}
/* line 450, ../sass/screen.scss */
body footer span {
  padding-left: 20px;
  font-style: italic;
}
/* line 454, ../sass/screen.scss */
body footer .icons {
  width: 200px;
  margin-right: 20px;
  float: right;
}
/* line 458, ../sass/screen.scss */
body footer .icons a {
  outline: none;
}
/* line 460, ../sass/screen.scss */
body footer .icons a .fa {
  font-size: 40px;
  color: #7c88ce;
  padding: 10px 5px 10px 0px;
  transition: all 1s linear;
  outline: none;
}
/* line 466, ../sass/screen.scss */
body footer .icons a .fa:hover {
  color: #555555;
  transform: rotateZ(359deg);
}
