html {
    height: 100%;
}
body {
    position: relative;
    max-width: 1440px;
    min-height: 100%;
    margin:0 auto;
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    color: #333333;
}
header {
    width:100%;
}
header img {
    padding:20px 0px 20px 20px;
    float:left;
}
header a {
    float:right;
    color: #ffffff;
    background: #7c88ce;
    border-radius:10px;
    margin:40px 20px 20px 0px;
    padding:5px 7px;
    text-decoration: none;
}
header a:hover {
    color: #7c88ce;
    background: #ffffff;
}
header p {
    margin:40px 0px 30px 15%;
    display:inline-block;
    font-size:36px;
    font-weight:bold;
    font-family: 'Indie Flower', cursive;
}
.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
nav {
    float:left;
    display: inline-block;
    width:200px;
    text-align: center;
}
body nav button, nav a {
    display: inline-block;
    margin: 10px auto 20px;
    background: #ffffff;
    color: #333333;
    border-radius: 5px;
    font-size: 20px;
    width: 105px;
    border: 1px solid grey;
}
body nav a {
    text- text-align: center;
    text-decoration: none;
}
nav a:hover, nav button:hover {
    background: #f3f3f3;
}
nav label {
    font-size: 20px;
    font-weight: bold;
}
nav select {
    margin-top:10px;
}
.cancelfilter {
    width: 150px;
}
.filtertag {
    width: 200px;
    height: 210px;
}
.startdate {
    margin-top:10px;
}

article {
    margin-left:200px;
    text-align: center;
    padding-bottom: 140px;
}
.article li {
    position: relative;
    display:inline-block;
    width:30%;
    margin:10px 15px;
    height: 400px;
    vertical-align: top;
    box-sizing: border-box;
    background: #f3f3f3;
}
.article li:hover {
    box-shadow:0px 0px 3px;
}

.article li h2 {
    font-size:18px;
    margin:0px;
    padding:5px 0px 5px 0px;
    text-align: left;
}
.article li p {
    margin:0px 0px 25px;
    font-size:14px;
    text-align: left;
}
.readnew, .ed, .del, .datearticle, .settags, .authorclass {
    display: inline-block;
    position: absolute;
    left:0px;
    top:370px;
    text-decoration: none;
    color: #333333;
    font-size: 18px;
}
li .ed {
    left:60px;
}
li .del {
    left:105px;
    background: #f3f3f3;
    border:none;
}
.readnew:hover, .ed:hover, .del:hover {
    text-decoration: underline;
}
li .datearticle {
    left:190px;
    top:374px;
    font-size: 14px;
    font-style: italic;
}
li .settags {
    left:0px;
    top:350px;
    font-size: 14px;
    font-style: italic;
}
li .authorclass {
    left:0px;
    top:330px;
    font-size: 14px;
    font-style: italic;
}
.article li .edit,.article li .delete {
    display: none;
}
.pagination {
    display: inline-block;
    margin: 0 auto;
    color: #ffffff;
    background: #7c88ce;
    border-radius: 10px;
    width:200px;
    margin-bottom:10px;
}
.pagination-view {
    display: none;
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    width: 100%;
    min-width: 320px;
    pointer-events: none;
}
.modalDialog:target {
    display: block;
    pointer-events: auto;
}
.tag-box {
    width: 300px;
    height: 180px;
    position: relative;
    margin: 13% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}
.new-box {
    width: 600px;
    height: 820px;
    position: relative;
    margin: 1% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}
.new-box div p{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}
.readnew-box {
    width: 700px;
    height: 720px;
    position: relative;
    margin: 1% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.close:hover {
    text-decoration: none;
}
.imageform {
    position: absolute;
    left:260px;
    top:620px;
}


.modalDialog .tagtext {
    position: absolute;
    left:117px;
    top:20px;
    font-size: 24px;
    font-weight: bold;
}
.modalDialog .pwd {
    position: absolute;
    left:110px;
    top:120px;
}
.modalDialog .loginfield, .modalDialog .tagfield {
    position: absolute;
    left:46px;
    top:59px;
}
.modalDialog .inppwd {
    position: absolute;
    left:46px;
    top:160px;
}
.modalDialog .signoutbutton {
    position: absolute;
    top:230px;
    left:170px;
}
.modalDialog .signbutton {
    position: absolute;
    top:230px;
    left:80px;
}
.modalDialog .tagbutton {
    position: absolute;
    left:126px;
    top:127px;
}
.modalDialog .insertid,.modalDialog .insertid {
    position: absolute;
    top:35px;
    left:100px;
}
.newid,.editid {
    position: absolute;
    top:60px;
    left:100px;
}
.modalDialog .inserttitle,.modalDialog .inserttitle {
    position: absolute;
    top:95px;
    left:100px;
}
.newtitle,.edittitle {
    position: absolute;
    top:120px;
    left:100px;
    width: 400px;
}
.modalDialog .insertsummary, .modalDialog .insertsummary {
    position: absolute;
    top:155px;
    left:100px;
}
.newsummary,.editsummary {
    position: absolute;
    top:185px;
    left:100px;
    width: 400px;
}
.modalDialog .insertcontent,.modalDialog .insertcontent {
    position: absolute;
    top:224px;
    left:100px;
}
.newcontent,.editcontent {
    position: absolute;
    top:260px;
    left:100px;
    width: 400px;
    height: 240px;
}
.modalDialog .inserttags,.modalDialog .inserttags {
    position: absolute;
    top:530px;
    left:60px;
}
.selecttags {
    position: absolute;
    top:570px;
    left:28px;
    width: 190px;
    height: 200px;
}
.newbutton,.editbutton {
    position: absolute;
    top:790px;
    left:258px;
}
.modalDialog .new-box .tagsvalue {
    position: absolute;
    top: 523px;
    left: 199px;
}
.readnew-box .readtitle {
    margin: 10px 0;
}
.readnew-box .readimage {
    margin-left:65px;
}
.readnew-box .newtitle{
    position: absolute;
    top:0px;
    left:40px;
}
.readnew-box .newcontent{
    position: absolute;
    top:80px;
    left:15px;
}
.readnew-box .newauthor{
    position: absolute;
    bottom:38px;
    left:15px;
    font-style: italic;
}
.readnew-box .newdate{
    position: absolute;
    bottom:10px;
    left:15px;
}
.readnew-box .newtags{
    position: absolute;
    bottom:65px;
    left:15px;
    font-style: italic;
}


footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
footer div {
    margin-left:20px;
    padding-top:0px;
    width:320px;
    display: inline-block;
}
footer span {
    padding-left:20px;
}
.icons {
    width:200px;
    margin-right: 20px;
    float:right;
}           
.icons__link .fa {
    font-size:40px;
    color: #7c88ce;
    padding: 10px 5px 10px 0px;
    transition:all 1s linear;
    }
.icons__link .fa:hover {
    color: #555555;
    transform: rotateZ(359deg);
}
      